# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.so.5.*
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

build*/
*.pro.user*
CMakeLists.txt.user
*.DS_Store

# executeable files
*.qm

src/DtkCores
src/dtkcore_config.h
# src/qt_lib_d*.pri

bin/
.qmake*
Makefile

